########################
# OS
########################
.DS_Store
Thumbs.db

########################
# React / Node
########################
ui/node_modules/
ui/dist/
ui/build/
ui/.env
ui/.env.local
ui/.env.production
ui/.env.development

########################
# Spring Boot / Java
########################
api/target/
api/.classpath
api/.project
api/.settings/
api/*.log

########################
# IDE
########################
.idea/
.vscode/
*.iml

########################
# Genel
########################
*.log
